---
openapi: 3.0.0
info:
  title: In Memory Key Value Store API
  description: In Memory Key Value Store API
  contact:
    email: mfcekirdek@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://x.x.x.x:8080/api/v1
    description: SwaggerHub API Auto Mocking
tags:
  - name: store
    description: Access to store
paths:
  /store/{key}:
    get:
      tags:
        - store
      summary: fetch key/value pair of given key
      description: pass key to fetch the key/value pair
      operationId: getKeyValuePairByKey
      parameters:
        - name: key
          in: path
          description: pass key to fetch key/value pair
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: item fetched
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/KeyValuePair'
                  description:
                    type: string
                    example: item fetched
        "400":
          description: bad input parameter
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    example: null
                  description:
                    type: string
                    example: bad input parameter
        "404":
          description: not found
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    example: null
                  description:
                    type: string
                    example: not found
    put:
      tags:
        - store
      summary: change the value of given key
      description: pass key to change value
      operationId: updateValueByKey
      parameters:
        - name: key
          in: path
          description: pass key to change the value
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Value'
      responses:
        "200":
          description: item updated
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/KeyValuePair'
                  description:
                    type: string
                    example: item updated
        "201":
          description: item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        "400":
          description: bad input parameter/body
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    example: null
                  description:
                    type: string
                    example: bad input parameter/body
        "404":
          description: not found
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    example: null
                  description:
                    type: string
                    example: not found
components:
  schemas:
    KeyValuePair:
      properties:
        key:
          type: string
          example: foo
        value:
          type: string
          example: bar
      description: Key Value Pair
    Value:
      properties:
        value:
          type: string
          example: bar
      description: Value
    BaseResponse:
      properties:
        data:
          $ref: '#/components/schemas/KeyValuePair'
        description:
          type: string
          example: item created
      description: Value